body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    color: darkblue;
}

.overlay {
    padding-right: 50px;
    height: 100vh;
    padding-left: calc(220px - 30px);
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.parent-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    height: 650px;
    background-color: #e9cfff33;
    width: 220px;
    display: flex;
    justify-content: center;
}