.body-index {
    margin: 0;
    background-color: #551392;
    color: white;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
}

.padding-8 {
    padding: 8px;
}

.txt-algn {
    text-align: center;
}

.wid-20 {
    width: 20%;
}

.wid-30 {
    width: 30%;
}

.over-flow-bw {
    overflow-wrap: break-word;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 6px;
    color: darkblue;
}

footer a {
    text-decoration: none;
    margin-left: 12px;
}

.login-container {
    height: 100vh;
    background-color: #551392;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
}

.login-header img {
    object-fit: cover;
    width: 50px;
}

.login-header a {
    text-decoration: none;
    color: white;
    transition: all 225ms ease-in-out;
    border-bottom: solid 1px transparent;
}

.login-header a:hover {
    border-bottom: solid 1px white;
    padding-top: 4px;
}

.form {
    display: flex;
    flex-direction: column;
}

.login-btn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    color: #551392;
}

.login-btn:hover {
    background-color: rgb(240, 240, 240);
    color: #602b91;
}

.input-field {
    border: none;
    border-radius: 6px;
}

.input-field:focus {
    outline-width: 0;
    width: 200px;
}

.line {
    width: 350px;
    margin-top: 80px;
}