body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    margin-block-end: -3px;
}

aside ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.overlay-container {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
}

.backlog-header {
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: darkblue;
}