<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- included backend -->
    <script src="./mini_backend.js"></script>
    <!-- includes backlog -->
    <script src="backlog.js"></script>
    <!-- includes footer -->
    <script src="../js/includeHTML.js"></script>
    <link rel="stylesheet" href="../css/backlog.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/overall.css">
    <script src="../js/addTask.js"></script>

    <title>Backlog</title>
</head>

<body onload="init(), includeHTML()">

    <div w3-include-html="sidebar.html"></div>

    <div class="overlay-container">
        <div class="backlog-header">
            <h1>Backlog</h1>
            <span>Learning Management System Project</span>
        </div>

        <nav>
            <a href="#">ASSIGNED TO</a>
            <a href="#">CATEGORY</a>
            <a href="#">DETAILS</a>
        </nav>

        <div id="backlogsContainer"></div>

        <div>
            <!-- footer included -->
            <footer w3-include-html="footer.html"></footer>
        </div>

    </div>
<div id="js-test"> 
    test
</div>
</body>

</html>